.ng-valid[required], .ng-valid.required  {
    border-left: 10px solid #42A948; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 10px solid #a94442; /* red */
  }
  button.btn.disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  /*-----------------------------------------------*/
/* .label {
  font-weight: bold;
  color: #8f0cec;
}

.value {
  color: #8e1010;
}

.row {
  margin-bottom: 10px;
} */

  